Modules/CustomSpawns/Schema/PartyRewardTemplateSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PartyRewardsTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PartyReward" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PartyId"/>
              <xs:element name="RewardsList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Reward" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Type">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Influence" />
                                    <xs:enumeration value="Item" />
                                    <xs:enumeration value="Renown" />
                                    <xs:enumeration value="Money" />
                                </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element type="xs:string" name="ItemId" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:int" name="RenownInfluenceMoneyAmount" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:decimal" name="Chance" maxOccurs="1" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>